# systemd for manifestservice
#
[Unit]
Description = Volume Manifest Builder Service

[Service]
ExecStart=/usr/local/bin/v-m-b/manifest_shell.sh start
ExecReload=/usr/local/bin/v-m-b/manifest_shell.sh reload
ExecStop=/usr/local/bin/v-m-b/manifest_shell.sh stop
#
# nothing special needed
User=service
WorkingDirectory=/home/service/volume-manifest-builder

[Install]
Alias=manifest
#
# This is on ubuntu
#WantedBy=default.target
# This is on Debian 9
WantedBy=multi-user.target
